.link-repairer-rule .link-repairer-rule-information, .link-repairer-rule .form-item {
  display: inline-block;
  margin-right: 10px;
}

.link-repairer-rule-information .link-repairer-rule-title, .link-repairer-rule-information .link-repairer-rule-machine-name {
  display: inline-block;
  margin-right: 3px;
}

.link-repairer-rule-title {
  font-weight: bold;
}

.link-repairer-rule-machine-name {
  font-size: x-small;
}
